/* Display
   ============================================== */

html
  box-sizing: border-box
  font-size: 16px
  font-size: 62.5%

body 
  margin: 0

// Forces footer to the bottom of the page
html 
  height: 100%
  body 
    display: flex
    flex-direction: column
    height: 100%
    main 
      flex: 1 0 auto
    footer 
      flex-shrink: 0




li 
  list-style-type: none

ul 
  padding: 0

*
  box-sizing: border-box
  &:before
    box-sizing: border-box
  &:after 
    box-sizing: border-box


.container 
  padding: 5rem 2rem
  width: 100%
  max-width: 1200px 
  margin: 0 auto

  &.width--wide
    max-width: 1400px
  &.width--narrow 
    max-width: 900px
  &.width--full
    max-width: unset
  & > .container 
    padding: 0  

.wrapper
  padding: 2.7rem 2.5%
  @include break(medium)
      padding: 5.4rem 7.5%
  @include break(wide)
      max-width: 1000px 
      margin: 0 auto
      padding: 5.4rem 0

p 
  margin-bottom: 1.35rem
  &:last-of-type
    margin-bottom: unset

b,
strong
  font-weight: bold

em 
  font-style: italic



/* Headings/Text
 * ==================================*/

h1,
h2,
h3 
  @include work-sans

h1 
  font-size: $header-1
  text-transform: lowercase

h2 
  margin-bottom: 1.2rem
  font-size: $header-2
  color: $mid-red
  span 
    font-weight: 600

h3 
  font-size: $header-3
  color: $mid-red

p, 
li, 
input, 
button, 
label, 
textarea, 
dd
  font: 300 1.8rem/1.5 "Work Sans", sans-serif

nav 
  li 
    @include break(wide)
      font: 300 2.25rem/1.5 "Work Sans", sans-serif

dt
  font: 300 2.0rem/1.5 "Work Sans", sans-serif

.check-control label
  font-size: 1.6rem

// Special Cases
.products 
  p
    font-weight: 800
    font-size: 2.813rem


a 
  color: $lust
  text-decoration: none
  transition: .3s ease
  cursor: pointer 
  &:visited
    color: $lust
  &:active, &:hover
    color: $dark-scarlet

a.readmore
  display: block
  font: 1.8rem/1.5 "Work Sans", sans-serif 
  padding: 1rem 2rem
  color: $white
  position: absolute
  bottom: 0
  right: 0
  background: $lust
  border-bottom-right-radius: 9px
  border-top-left-radius: 10px
  &:visited 
    color: $white
  &:hover,
  &:active 
    color: $white
    background: $dark-scarlet

a.backto 
  display: inline-block
  font: 1.8rem/1.5 "Work Sans", sans-serif
  margin-bottom: 2rem





    



/* Helper Classes
   ============================================== */

/*
 * Hide visually and from screen readers
 */

.hidden
  display: none !important