footer 
    background-color: $mid-red
    color: $white-smoke
    padding: 2.7rem 0
    h2 
        color: $white-smoke
        text-align: center
    svg
        width: 40px
        height: 40px
        fill: $white-smoke
    ul 
        display: flex
        justify-content: space-between
        max-width: 270px 
        margin: 0 auto

