header 
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1200px
    margin: 0 auto
    &>div 
        display: flex
        align-items: center
        img 
            margin-right: 1.2rem
    ul 
        display: flex
        li 
            margin-right: 1.2rem
            &:last-of-type
                margin-right: 0